[package]
name = "osui"
version = "0.0.8"
edition = "2021"
license = "Apache-2.0"
description = "A rsx TUI library"
repository = "https://github.com/osui-rs/osui"
homepage = "https://osui.netlify.app"
documentation = "https://osui.netlify.app/docs/" 

[lib]
name = "osui"
path = "src/lib.rs"

[[bin]]
name = "osui"
path = "src/main.rs"

[build-dependencies]
cc = "1.0"

[dependencies]
crossterm = "0.28.1"
regex = "1.11.1"
lazy_static = "1.4"
paste = "1.0.15"
dyn-clone = "1.0.17"
flume = "=0.10.12"
osui-element = "0.1.14"
